<div class="container col-xs-offset-3">
  <div class="row">
    <h3 class="sign-in-title">管理者ログイン</h3>
  </div>
</div>
<div class="container col-xs-offset-4">
  <div class="row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="col-xs-5">
        <tr>
          <th>メールアドレス</th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email",class: "col-xs-12", value: "" %></td>
        </tr>
        <tr>
          <th>パスワード</th>
          <td><%= f.password_field :password, autocomplete: "current-password",class: "col-xs-12", value: "" %></td>
        </tr>
        <tr>
          <td colspan="2"><%= f.submit 'ログイン', class: "btn btn-primary admin-sign-in-button"%></td>
        </tr>
     </table>
    <% end %>
  </div>
</div>
